*{
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 1420px;
    width: 100%;
    margin: auto;
}

.banner-img{
    width: 100%;
}
.banner-container{
    width: 80%;
   margin: auto;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 30px;
}
.banner-left{
    width:50%;
   /* text-align: center; */
}
.banner-right{
    width:50%;
    text-align: right;
}
.title{
    font-size: 60px;
   margin-bottom: 10px;
}
nav{
 width: 100%;
 background-color: cadetblue;
}
.nav-container{
   width: 80%;
    margin: auto;
}

.logo-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}
.logo{
    width: 50px;
    height: 50px;
}
.cart-count{
    display: flex;
    align-items: center;
    
}

.profile-logo{
     width: 50px;
    height: 50px;
}


.content-area-cotainer{
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
    /* border: 1px solid rgb(247, 18, 18); */
    display: flex;
    justify-content: space-between;

}
.left-content{
   width:80% ;
   margin: auto;
    display: flex;
    flex-direction: column;
    
}

.palce{
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 8px gray;
    border-radius:5px;
    margin: auto;
}
.place-content{
    width: 90%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   gap: 50px;
}
#cart-container{
    /* border: 1px solid rgb(88, 25, 235); */
    width:25%;
}
.hr1{
    margin: 20px 0px;
}

.carts-content{
    padding: 15px;
}


.total-cost{
    margin: 20px 0px;
}
.place-img1{
      padding: 10px 0px;

width: 70%;

}
.place-right{
    width: 30%;
}
.place-img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.add-btn{
    width: 90px;
    padding: 7px;
    border: none;
    background-color: rgb(109, 109, 109);
    border-radius: 5px;
    font-size: 14px;
    color:white;
    margin-top: 15px;
}
.cart{
    width: 100%;
    box-shadow: 8px 8px 16px gray;
    position: sticky;
    text-align: center;
    padding:10px;
}


.menu-cart{
    padding-right: 20px;
    width: 50px;
    height: 50px;
}

#cart-count{
    position: relative;
   right: 20px;
  z-index: 1;
  bottom: 15px;
color: rgb(235, 17, 17);
}

.category-btn{

    padding: 8px;
    border: none;
    background-color: rgb(135, 134, 133);
    color: white;
    font-size:  15px;
    border-radius: 10px;
}
.all-cat-btn{
    display: flex;
flex-wrap: wrap;
gap: 20px;

}
li{
    gap: 20px;
    width: 200px;
    margin: auto;
    text-align: left;
   list-style: none;
    
}
.selected-place-container{
    width:200px;
    margin: auto;
    
}

@media  screen and (max-width:600px)  {
    .content-area-cotainer{
        flex-direction: column;
    }



.left-content{
   
    width:100% !important;
    display: flex;
    flex-direction: column;
    
}

.place-img{
    width: 80%;
    border-radius: 10px;
    height: 200px;
}
.palce{
  
    width: 100%;
    
}
#cart-container{
    width: 100%;
    margin-top: 20px;
}


nav{
    padding: 10px !important;
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(205, 205, 205);
}
.logo{
    width: 10px;
}
.place-content{
    gap: 10px;
}

}